#body{

    background-image: ("images/purpbackground.jpeg");
}


#section-1{
	height: 300px ;
	margin-top: 300px;
}

#fill{


}

.carousel-inner{
	width: 100% ;
	margin: 0 auto;
}


#footer {
    position:absolute;
    bottom:0px;
    width: 100%;
    margin: 0;
    background-color: #000;
    height: 100px;
    text-align: center;
    color: #DD00DD;
}